.panel.panel-default
  .panel-heading= local_assigns[:title].presence || t(".title")
  .panel-body
    = form_tag search_admin_inquiries_path, method: :get, class: "search form-inline", id: "search_by_id" do
      .form-group
        .input-group.input-group-sm
          %label.input-group-addon{ for: "inquiry_id" }= t ".number"
          = text_field_tag :id, nil, class: "form-control", id: "inquiry_id"
          .input-group-btn
            %button.btn.btn-primary{ type: :submit, title: t(".search") }= fa :search

= render "admin/customer_searches/filter", results: false
