%p= salute @clearing.contact
%p
  im Anhang finden Sie Ihre Abrechnungen für den Monat
  = succeed '.' do
    %strong= @date_str

%table.table{ border: 0, cellpadding: 0, cellspacing: 0 }
  %tr
    %th{ align: "left" } Buchung
    %th{ align: "left" } Mietobjekt(e)
    %th{ align: "right" } Payout
  - @clearing.currencies.each do |curr|
    - total = 0.to_d
    - curr.billings.each_with_index do |ob, i|
      %tr
        %td{ align: "left",   style: ("border-top: 1px solid #9D9D9D" if i%5==0) }
          = ob.booking.number
        %td{ align: "left",   style: ("border-top: 1px solid #9D9D9D" if i%5==0) }
          = ob.billables.map{|b| b.rentable.display_name }.join(", ")
        %td{ align: "right",  style: ("border-top: 1px solid #9D9D9D" if i%5==0) }
          - total += ob.payout_for_report
          = display_price ob.payout_for_report
    %tr
      %td{ align: "left",   style: "border-top: 1px solid #9D9D9D" }
      %td{ align: "right",  style: "border-top: 1px solid #9D9D9D" }
        %strong Total:
      %td{ align: "right",  style: "border-top: 1px solid #9D9D9D" }
        %strong= display_price total

%p
  Bei Fragen stehen wir Ihnen gerne zur Verfügung.
%p
  Freundliche Grüsse,<br>
  Ihr INTERVILLAS-Team
