= page_header do
  = breadcrumb.render t('shared.menu.villas')
  %h1= h1 || t("villas.index.h1")

.container
  %villa-facet-search.px-sm-0{ "data-config" => facet_search_configuration(facets: false).to_json }
    .text-center= fa :x2, :spinner, :pulse, text: t(:wait_data)

%section.mt-3
  %goto-search-results.container{ data: { url: villa_searches_path } }

  .container
    .room-grid.with-sidebar
      = render partial: 'villa', collection: villas, locals: { special: false }

  = render_snippet "villa_index_below_listing", wrap_in: "container"
