- if current_user.password_expired?
  .alert.alert-danger.fa-alert
    = fa :key
    = t ".expired"
    - unless current_page?(admin_edit_user_registration_path)
      = link_to t("devise.passwords.update"), admin_edit_user_registration_path, class: "alert-link"
- else
  .alert.alert-warning.fa-alert
    = fa :key
    = t ".warning"
    - unless current_page?(admin_edit_user_registration_path)
      = link_to t("devise.passwords.update"), admin_edit_user_registration_path, class: "alert-link"
