= semantic_form_for [:admin, basic_user_form], html: { class: "form-horizontal panel panel-default" } do |f|
  = f.hidden_field :form_id, id: nil, name: "form"

  .panel-heading
    Basis-Einstellungen

  .panel-body
    = f.inputs do
      = f.input :email
      = f.input :access_level, collection: user_access_level_collection, include_blank: false

    - if resource.new_record?
      %p
        %strong Hinweis:
        An die obige E-Mail-Adresse wird <em>keine</em> Passwort-Reset-Anleitung
        geschickt. Nach dem Speichern müssen zunächst die Kontakte verknüpft
        werden, danach kann ein Passwort-Reset ausgelöst werden.

  .panel-footer.text-right
    = f.action :submit, label: "Speichern", button_html: { data: { disable_with: t(:wait) }, class: "btn btn-primary" }
