%link{ rel: "apple-touch-icon", href: "/favicons/#{current_domain.theme}/apple-touch-icon.png",  sizes: "180x180" }
%link{ rel: "icon",             href: "/favicons/#{current_domain.theme}/favicon-32x32.png",     sizes: "32x32", type: "image/png" }
%link{ rel: "icon",             href: "/favicons/#{current_domain.theme}/favicon-16x16.png",     sizes: "16x16", type: "image/png" }
%link{ rel: "manifest",         href: "/favicons/#{current_domain.theme}/site.webmanifest" }
%link{ rel: "mask-icon",        href: "/favicons/#{current_domain.theme}/safari-pinned-tab.svg", color: current_domain.theme_color }
%link{ rel: "shortcut icon",    href: "/favicons/#{current_domain.theme}/favicon.ico" }
%meta{ name: "apple-mobile-web-app-title", content: current_domain.brand_name }
%meta{ name: "application-name",           content: current_domain.brand_name }
%meta{ name: "msapplication-TileColor",    content: current_domain.theme_color }
%meta{ name: "msapplication-config",       content: "/favicons/#{current_domain.theme}/browserconfig.xml" }
%meta{ name: "theme-color",                content: current_domain.theme_color }
