%p= salute customer
%p
  mit heutigem Datum können wir Ihnen den Zahlungseingang über insgesamt
  %strong= display_price payment_deadlines.paid_total
  für die Buchung #{inquiry.number} (#{rentables}#{', storniert' if inquiry.cancelled?})
  bestätigen.
  - if difference <= 0
    Der Gesamtbetrag ist damit abgegolten.

- if imessage.text?
  %p= imessage.text

%p
  Nachfolgend finden Sie noch eine Aufstellung aller bisherigen
  Zahlungseingänge
  - if difference > 0
    und offener Posten
  zu Ihrer Information.

= render "payment_table"
= render "outstanding_payment" if !inquiry.cancelled? && outstanding_payment

%p
  Freundliche Grüße <br/>
  Ihr INTERVILLAS-Team
