%h2= salute customer
%p
  we would like to draw your attention to a forthcoming payment term
  for your booking of <strong>#{rentables}</strong>,
  booking #{booking.number}.

%p
  - if last_payment_date
    As of #{last_payment_date}, we have recorded payments
    totaling #{display_price payments.sum(&:sum)}.
  - else
    As of today, we have not recorded any payments.

= render "payment_table"
= render "outstanding_payment"

%p
  Please ensure that the payment is transferred to one of our bank accounts and
  indicate your booking number (IV-&hellip;). Payment with credit card is possible
  as well.
%p
  You can find all payment information on our website:

= mail_button_link_to payments_booking_url do
  &gt;&gt; Show payment overview for #{booking.number}

%p
  Thank you for your immediate execution.
%p
  Please disregard this notice it you have transferred the payment in the
  meantime.
%p
  Sincerely, <br/>
  your INTERVILLAS-Team
