%h2.mt-5 Hamburger Yachtversicherung Schomacker
.row.mt-3
  .col-sm-3
    %p.img-thumbnail= vite_image_tag "images/insurance/schomacker.png", class: "img-responsive"

  .col-sm-9.col-md-8.col-lg-7
    %p.lead
      Die <strong>Hamburger Yachtversicherung Schomacker</strong> bietet Ihnen die
      <strong>Skipper-Haftpflicht-Versicherung</strong> an und macht Ihre Bootsbuchung
      wasserdicht!
    %p
      Versichert ist über die Skipper-Haftpflicht-Versicherung die gesetzliche Haftpflicht
      des Versicherungsnehmers in der Eigenschaft als Mieter und Führer des Motorbootes
      weltweit.
    %p
      Das Boot, dass Sie gebucht haben ist haftpflicht- als auch kaskoversichert.
      Die Skipper-Hapftfplicht-Versicherung ist eine wichtige Deckungsergänzung für
      Skipper und Crew. In bestimmten Fällen kann es vorkommen, dass die Boots-Haftpflicht-
      oder Kasko-Versicherung des Mietbootes nicht leistet oder die Deckungssumme bzw.
      der Deckungsumfang nicht ausreicht. Diese Risiken werden durch die
      Skipper-Haftpflicht-Versicherung abgedeckt.
    %p
      Beim Abschluss einfach die Rubrik
      = surround " ", " anklicken." do
        %strong „Motoryacht bis 10 Meter Länge“

    %h3 Kautions-Versicherung
    %p
      Zum Ausschluss des Selbstbehalts (Kaution) schliessen Sie zudem die
      Kautions-Versicherung ab.
    %p
      Charteryachten sind in der Regel vollkaskoversichert. Vercharterer und
      dessen Versicherung haben üblicherweise eine Selbstbeteiligung im Schadenfall
      vereinbart. In der Regel entspricht die Selbstbeteiligung der zu hinterlegenden
      Kaution des Charterers.
    %p
      Entsteht während des Törns an der gecharterten Yacht ein Schaden, kann
      das Charterunternehmen die Kaution ganz oder zum Teil einbehalten.
      Dieses finanzielle Risiko deckt die Garantieleistung zur Absicherung
      von Charterkautionen ab. Bei dieser Yachtcharter-Kautionsversicherung
      gibt es keine Selbstbeteiligung.

    .well
      %p
        Diese Versicherung können Sie aus versicherungstechnischen Gründen nur
        dann abschliessen, <strong>wenn Sie Bürger eines EU-Mitgliedstaates
        sind</strong>.
      %p
        %a.btn.btn-block.btn-primary{ target: "_blank", href: "http://www.schomacker.de/charterversicherungen.html?pid=a1435" }
          zur Versicherungsanfrage
          = fa :arrow_right
      %p
        %strong Die Hamburger Yachtversicherung – Schnell – Unkompliziert – Sicher!

%h2.mt-5 Pantaenius Skipperhaftpflichtversicherung
.row.mt-3
  .col-sm-3
    %p.img-thumbnail= vite_image_tag "images/insurance/pantaenius.png", class: "img-responsive"

  .col-sm-9.col-md-8.col-lg-7
    %p.lead
      „Als Skipper haften Sie persönlich mit Ihrem Vermögen für alle von Ihnen verursachten
      Schäden, die Sie Dritten durch den Gebrauch einer fremden Yacht zufügen.“
    %p
      Die Pantaenius Skipperhaftpflichtversicherung bietet Ihnen das ganze Jahr über
      Schutz bei Schäden, die beim Gebrauch einer fremden Yacht entstehen. Sie wird
      wirksam, wenn die yachteigene Haftpflichtversicherung nicht eintritt.
    %p
      Versichert ist ebenfalls die Nutzung von Beibooten oder anderen Wassersportgeräten.
      Die Versicherung kann sowohl für den privaten Skipper als auch für gewerbliche
      Skipper abgeschlossen werden.
    %p
      Die jährliche Deckung gilt für Skipper und Crew bei Sach- und
      Personenschäden – weltweit.
    %ul
      %li Die Abwehr unberechtigter Ansprüche
      %li Gewässerschäden
      %li Sicherheitsleistungen bei einer Arrestierung der Yacht bis 100'000,00 EUR
      %li Der Verlust von Nachfolgevercharterungen bis 20'000,00 EUR
      %li Schäden durch grobe Fahrlässigkeit an der vom Skipper geführten Yacht
    %p
      Beim Abschluss wählen Sie die Rubrik
      = surround " ", "." do
        %strong „Private Nutzung, 6 Mio EUR Versicherungssumme, bis 17m Schiffslänge“

    .well
      %p
        Versichert werden können nur Personen mit Wohnsitz in der
        <strong>Europäischen Union</strong>, <strong>Schweiz</strong>,
        <strong>Liechtenstein</strong>, <strong>Norwegen</strong> oder
        <strong>Island</strong>.
      %p
        %a.btn.btn-block.btn-primary{ target: "_blank", href: "http://www.pantaenius-group.com/content/2526" }
          zur Versicherungsanfrage
          = fa :arrow_right
