%h2.mt-5 Hamburger Yachtversicherung Schomacker
.row.mt-3
  .col-sm-3
    %p.img-thumbnail= vite_image_tag "images/insurance/schomacker.png", class: "img-responsive"

  .col-sm-9.col-md-8.col-lg-7
    %p.lead
      The <strong>Hamburger Yachtversicherung Schomacker</strong> provides
      a <strong>Skipper Liability Insurance</strong> and which makes your
      boat booking waterproof!
    %p
      With the Skipper Liability Insurance, your accountability at law
      in the capacity as tenant and operator is covered by insurance worldwide.
    %p
      The boat you've booked is already covered by basic liability and physical
      damage insurances. The Skipper Liability Insurance is an important
      complement for you as skipper and your crew, as some cases are not
      covered by the basic insurance. This risk can be covered with an Skipper
      Liability Insurance.
    %p
      Upon completion, simply chose the category
      = surround " ", "." do
        %strong “motor yacht up to 10m long”

    %h3 Charter Deposit Insurance
    %p
      According to insurance problems this insurance does not cover American or Canadian citizens.
    %p
      Charter yachts usually have fully comprehensive hull insurance. The charter
      company and its insurance company will usually have agreed a deductible (retention)
      payable in the event of damage occurring. The deductible normally corresponds
      to the security deposit paid by the charterer.
    %p
      If damage is sustained by the yacht during the sailing trip, the charter company
      is entitled to retain all or part of the security deposit paid. This guarantee
      insurance for charter security deposits cover this financial risk. Our insurance
      for charter deposits does not require payment of a deductible.

    .well
      %p
        For legal reasons, this insurance is <strong>only</strong> available for
        residents of the <strong>European Union</strong>.
      %p
        = link_to "http://www.schomacker.de/en/charter-insurance.html?pid=a1435", class: "btn btn-block btn-primary", target: :_blank do
          Insurance Inquiry
          = fa :arrow_right
      %p
        %strong Hamburger Yachtversicherung Schomaker – Fast – Uncomplicated – Safe!

%h2.mt-5 Pantaenius Skipper Liability Insurance
.row.mt-3
  .col-sm-3
    %p.img-thumbnail= vite_image_tag "images/insurance/pantaenius.png", class: "img-responsive"

  .col-sm-9.col-md-8.col-lg-7
    %p.lead
      “As skipper, you are personally liable, to the extent of your assets, for all
      damages you cause to third parties through the use of another’s yacht.”
    %p
      Pantaenius skipper liability insurance offers a skipper cover throughout the
      year against damages which occur during the use of another’s yacht. The cover
      takes effect when the yacht’s own liability insurance cannot be applied.
    %p
      The scope of this annual insurance is worldwide and covers Skippers for property
      damage and / or personal injuries. This insurance is available to both private
      and commercial skippers.
    %ul
      %li Defense of unjustified claims
      %li Water pollution
      %li Costs in the event of yacht arrest of up to EUR 100,000.00
      %li Loss of follow-up charters of up to EUR 20,000.00
      %li Damages to the skipper-helmed yacht due to gross negligence
    %p
      Upon completion, simply chose the category
      = surround " ", "." do
        %strong “Private use, 6 Mio. EUR Combined Single Limit, vessels up to 17 m length”.

    .well
      %p
        Please note that insurance can only be provided for residents of the
        <strong>European Union</strong>, <strong>Switzerland</strong>,
        <strong>Liechtenstein</strong>, <strong>Norway</strong> or
        <strong>Iceland</strong>.
      %p
        = link_to "http://www.pantaenius-group.com/content/2526", class: "btn btn-block btn-primary", target: :_blank do
          Insurance Inquiry
          = fa :arrow_right
