.panel.panel-default
  .panel-heading
    Zwei-Faktor-Authentisierung
  .panel-body
    %h4 Status
    %p
      Sie haben derzeit noch <strong>keine</strong> Zwei-Faktor-Authentisierung eingerichtet.

  .panel-body.border-top.border-light
    %h4 Zwei-Faktor-Authentisierung einrichten

    %p
      Im ersten Schritt müssen Sie eine Authenticator-App installieren.
      Wir raten zum Einsatz einer dieser Apps:

    %table.table
      %tr
        %th= external_link_to "https://2fas.com", "2FAS"
        %td.text-center
          = link_to_play_store "https://play.google.com/store/apps/details?id=com.twofasapp"
        %td.text-center
          = link_to_app_store "https://apps.apple.com/us/app/2fas-auth/id1217793794"

      %tr
        %th
          = external_link_to "https://authy.com", "Authy"
          .small Account erforderlich
        %td.text-center
          = link_to_play_store "https://play.google.com/store/apps/details?id=com.authy.authy"
        %td.text-center
          = link_to_app_store "https://itunes.apple.com/us/app/authy/id494168017"

      %tr
        %th Google Authenticator
        %td.text-center
          = link_to_play_store "https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
        %td.text-center
          = link_to_app_store "https://apps.apple.com/us/app/google-authenticator/id388497605"

      %tr
        %th= external_link_to "https://support.microsoft.com/en-us/account-billing/download-microsoft-authenticator-351498fc-850a-45da-b7b6-27e523b8702a", "Microsoft Authenticator"
        %td.text-center
          = link_to_play_store "https://play.google.com/store/apps/details?id=com.azure.authenticator"
        %td.text-center
          = link_to_app_store "https://apps.apple.com/us/app/microsoft-authenticator/id983156458"

  .panel-body.border-top.border-light
    %h4 Weitere Informationen
    %p
      Der zweite Authentisierungsfaktor besteht aus einem Token, aus dem zusammen mit
      der aktuellen Uhrzeit ein 6-stelliger Code abgeleitet wird, das so genannte
      TOTP (time-based one-time password, <em>zeitbasiertes Einmalpasswort</em>).
    %p
      Diese TOTPs sind jeweils nur für einen kurzen Zeitraum gültig (30s), und ändern
      sich daher fortlaufend. Zum Generieren ist daher eine Smartphone-App notwendig.

  .panel-footer
    %p
      Wenn Sie eine Authenticator-App installiert haben, klicken Sie bitte auf «Weiter».

    .d-flex.justify-content-end
      = form_tag admin_two_factor_settings_path, method: :post do
        %button.btn.btn-primary{ type: :submit, data: { disable_with: t(:wait) } } Weiter
