<p>(deutsche Version folgt am Ende)</p>

<p>Hello <%= @resource.email %>!</p>

<p>
  Someone has requested to set or change your password for your account at <strong>Intervilla
  Florida</strong>. If that was you, you can do this through the following link:
</p>
<blockquote><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, host: Rails.env.test? ? "localhost" : "en.intervillas-florida.com") %></blockquote>
<p>If you didn't request this, please ignore this email.</p>
<p>
  Please note: Your password won't change until you access the link above and create a new one.
  The link is valid until <%= l Devise.reset_password_within.from_now, locale: :en %>, after which
  you need to create a new link (you can use the "Forgot your password?" link on the same page.)
</p>
<p>To log into your account, you need to visit this link in the future:</p>
<blockquote><a href="https://en.intervillas-florida.com/admin">https://en.intervillas-florida.com/admin</a></blockquote>

<hr/>

<p>Hallo <%= @resource.email %>,</p>

<p>
  Für Ihren Nutzer-Zugang für <strong>Intervilla Florida</strong> wurde angefordert, ein neues
  Passwort zu setzen. Sollten Sie dies veranlasst haben, folgen Sie bitte diesem Link:
</p>
<blockquote><%= link_to "Mein Passwort setzen", edit_password_url(@resource, reset_password_token: @token, host: "www.intervillas-florida.com") %></blockquote>
<p>Ignorieren Sie bitte diese E-Mail, sollten Sie hiermit nichts anzufangen wissen.</p>
<p>
  Beachten Sie bitte, dass sich Ihr Passwort erst dann ändert, wenn Sie den obigen Link aufgerufen
  und dort ein neues Passwort eingegeben haben. Der Link hat eine beschränkte Gültigkeit bis
  bis <%= l Devise.reset_password_within.from_now, locale: :de %> - danach müssen Sie einen neuen
  Link generieren (Sie können dazu den "Passwort vergessen?"-Link auf derselben Seite nutzen).
</p>
<p>Bitte besuchen Sie zukünftig die folgende Seite, um sich einzuloggen:</p>
<blockquote><a href="https://www.intervillas-florida.com/admin">https://www.intervillas-florida.com/admin</a></blockquote>
