= form_tag deliver_admin_clearings_path, method: :post, class: "panel panel-primary" do
  = hidden_field_tag :month, clearing_date.month
  = hidden_field_tag :year, clearing_date.year

  .panel-heading
    Send monthly overview to owners

  .panel-body
    .checkbox
      = label_tag do
        = check_box_tag :ignore_already_sent, 1, checked: true
        prevent re-sending?
      %span.help-block
        When checked, and an owner already has received an overview
        for #{l clearing_date, format: "%B %Y"}, a second delivery will
        be prevented.

  .panel-footer
    %p
      Note: Document generation and email submission happens asynchronously
      in the background. Depending on the number of clearing statements to
      create, this might take a moment.
    %p
      = submit_tag "send to all", name: nil, class: "btn btn-sm btn-primary btn-block", data: { disable_with: t(:wait) }

.panel.panel-default
  .panel-heading
    Download combined PDF

  .panel-body
    You may download all clearings for the selected month as a single,
    combined PDF file, for accounting or archiving purposes.

  .panel-footer
    %p
      Note: It may take a moment to generate the PDF (depending on the
      number of clearing statement to create).
    %p
      = link_to url_for(month: clearing_date.month, year: clearing_date.year, format: :pdf), class: "btn btn-sm btn-primary btn-block" do
        Download combined PDF
