.row
  %aside.col-md-3.sidebar-left
    %h1= inquiry_number payment_process.booking_or_reservation.inquiry

    .alert.alert-info.fa-alert
      = fa :info_circle
      Diese Ansicht ist haupts채chlich f체r die Problembehebung gedacht.

    %ul.nav.nav-pills.nav-stacked.js-main-nav
      %li
        = link_to admin_bsp1_payment_processes_path do
          = fa :caret_left, text: "zur체ck zum Eingang BS PAYONE"
      - if payment_process.booking.present?
        %li
          = link_to edit_admin_booking_path(payment_process.booking, anchor: "payments") do
            = fa :caret_left, text: "zur체ck zur Buchung"

  .col-md-9.mt-3
    .panel-group#bsp1-transaction
      .panel.panel-primary
        .panel-heading
          %a.panel-title{ href: "#bsp1-payment-#{payment_process.id}", data: { toggle: :collapse, parent: "#bsp1-transaction" } }
            = fa :caret_square_o_right
            Transaktion ##{payment_process.id}
            &bull;
            = l payment_process.created_at.to_date

        .panel-collapse.collapse.in{ id: "bsp1-payment-#{payment_process.id}" }
          .panel-body.small
            = render_payment_gateway_tree payment_process.data

      - payment_process.bsp1_responses.each do |wh|
        .panel.panel-default
          .panel-heading
            %a.panel-title{ href: "#bsp1-response-#{wh.id}", data: { toggle: :collapse, parent: "#bsp1-transaction" } }
              = fa :caret_square_o_right
              Webhook ##{wh.id}
              &bull;
              %em= wh.txaction.to_s.downcase
              &bull;
              = l wh.created_at.to_date

          .panel-collapse.collapse{ id: "bsp1-response-#{wh.id}" }
            .panel-body.small
              = render_payment_gateway_tree wh.data
